@use "../settings";

.header {
  height: settings.$headerHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: all 0.3s;
  color: white;

  &.filled {
    background-color: white;
    color: black;
    box-shadow: 0 2px 5px 0px rgba(0, 0, 0, 0.1);

    .logo {
      color: settings.$primaryThree;
    }
  }

  .logo {
    pointer-events: none;
  }
}

.nav {
  color: inherit;
  .navList {
    display: flex;
    align-items: center;
    gap: 30px;
    .navItem {
      border-radius: 10px;
      font-weight: 600;

      &.special {
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;
        background-color: white;
        color: settings.$primaryTwo;

        &:hover {
          background-color: settings.$primaryTwo;
          .navLink {
            color: white;
          }
        }
        .navLink {
          display: block;
          padding: 15px 30px;
        }
      }
      .navLink {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
        transition: color 0.3s ease;
        &:hover {
          color: red;
        }
      }
    }
  }
}

.main {
  z-index: 1;
}

.bannerContainer {
  position: relative;
  height: 100vh;
  width: 100%;
  .banner {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .bannerOverlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .textWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    transform: translateY(30%);
    z-index: 2;
    .innerWrapper {
      max-width: 750px;
      padding: 0 50px;
      text-align: center;
      color: white;

      h2 {
        font-size: 38px;

        .bold {
          background: linear-gradient(
            to right,
            settings.$primaryTwo,
            settings.$primaryOne,
          );
          -webkit-background-clip: text;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}

.section {
  line-height: 1.7;
  padding: 70px 0;
  
  .sectionHeading {
    text-align: center;
  }

  h2 {
    font-size: 26px;
  }
}

.productSection {
  background-color: #f7f9fc;
  color: #33465b;
  .sectionHeading {
    margin-bottom: 20px;
  }
  .productDescriptionWrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    .productDescription {
      width: 50%;
    }
  }

  .createAccountWrapper {
    display: flex;
    justify-content: center;

    button {
      padding: 15px 30px;
      font-weight: 600;
    }
  }

  .features {
    padding: 50px 10%;

    display: flex;
    flex-direction: column;
    align-items: center;

    .item {
      text-align: center;
      margin-bottom: 30px;
      width: 50%;
    }
  }
}

.universitiesSection {
  background-color: white;
  color: #33465b;

  .universitiesWrapper {
    display: flex;
    padding: 50px 10%;

    flex-wrap: wrap;

    .university {
      padding: 30px;
      width: 33%;
    }
  }
}

@media (max-width: 380px) {
  .bannerContainer {
    .textWrapper {
      .innerWrapper {
        h2 {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 300px) {
  .header {
    padding-left: 20px;
  }
  .bannerContainer {
    .textWrapper {
      .innerWrapper {
        h2 {
          font-size: 26px;
        }
      }
    }
  }
}
