@use "../settings";

.header {
  height: settings.$headerHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  transition: all 0.3s;
  color: white;

  &.filled {
    background-color: white;
    color: black;
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
  }

  .logo {
    pointer-events: none;
  }
}

.nav {
  color: inherit;
  .navList {
    display: flex;
    align-items: center;
    gap: 30px;
    .navItem {
      border-radius: 10px;
      font-weight: 600;

      &.special {
        box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.1);
        transition: 0.3s ease;
        background-color: white;
        color: red;

        &:hover {
          background-color: red;
          .navLink {
            color: white;
          }
        }
        .navLink {
          display: block;
          padding: 15px 30px;
        }
      }
      .navLink {
        color: inherit;
        &:hover {
          text-decoration: none;
        }
        transition: color 0.3s ease;
        &:hover {
          color: red;
        }
      }
    }
  }
}

.main {
  z-index: 1;
}

.bannerContainer {
  position: relative;
  height: 700px;
  width: 100%;
  .banner {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .bannerOverlay {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .textWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    .innerWrapper {
      max-width: 750px;
      padding: 0 50px;
      text-align: center;
      color: white;

      h2 {
        font-size: 38px;

        .bold {
          background: linear-gradient(
            to right,
            settings.$turqoiseGreen,
            settings.$paleSpringBud,
            settings.$bisque,
            settings.$mauvelous,
            settings.$deepTaupe
            
          );
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
