@use "../../settings";

.footer {
  width: 100%;
  height: 60px;
  // margin-top: 30px;
  background-image: linear-gradient(to top, white, #f9f9f9);
  padding: 0 20px;
}

.divider {
  height: 2px;
  background-image: linear-gradient(
    to right,
    transparent,
    lightgrey,
    transparent
  );
  width: 100%;
}

.copyrightWrapper {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  .symbol {
    margin-right: 5px;
  }
  font-size: 11px;
}
