@use "../settings";

.link {
  text-decoration: none;
  color: settings.$primaryTwo;
  &:hover {
    text-decoration: none;
  }
}

.logoWrapper {
  display: flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  .logoText {
    text-transform: uppercase;
    letter-spacing: 0.05ch;
    font-size: 28px;
  }
  .logoIcon {
    margin-left: 5px;
   font-size: 28px;
  }
}
