@use "../../../settings";

.menuOverlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: settings.$primaryFive;
  color: black;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  &.show {
    transform: translateX(0);
  }
}

.header {
  height: settings.$headerHeight;
  padding: 0 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .closeMenuButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding: 15px;

    .closeIcon {
      font-size: 40px;
      // color: #444444;
    }
  }
}

.mobileNav {
  padding: 0 30px;
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .navItem {
    border-radius: 10px;
    font-size: 26px;
    font-weight: 600;
    .navLink {
      color: inherit;
      &:hover {
        text-decoration: none;
      }
      transition: color 0.3s ease;
    }
  }
}
