$turqoiseGreen: #b8d8ba;
$paleSpringBud: #d9dbbc;
$bisque: #fcddbc;
$mauvelous: #ef959d;
$deepTaupe: #69585f;

$primaryOne: #78D5D7;
$primaryTwo: #63D2FF;
$primaryThree: #2081C3;
$primaryFour: #BED8D4;
$primaryFive: #F7F9F9;

$headerHeight: 80px;
$footerHeight: 80px;

$errorColour: #cb1515;

$burgerMargin: 15px;
