@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}



html {
  height: 100vh;
  overflow-x: hidden;
}

#__next {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}


ul {
  list-style: none;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  // make links blue and on hover underline
  color: #0070f3;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

input[type="password"]:not(:placeholder-shown) {
  font-family: Verdana;
  letter-spacing: 0.1em;
}
